/* styles.css */

/* Estilos globales */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para el navbar */
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    margin-left: 15px;
  }
  
  .nav-link.active {
    text-decoration: underline;
  }
  
  /* Estilos para el header */
  header {
    background-image: url('');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px #000;
  }
  
  header .btn {
    margin-top: 20px;
  }
  
  header, .card, .whatsapp-number {
    animation: fadeInUp 0.5s ease;
  }
  
  /* Estilos para las tarjetas de productos */
  .product-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  }
  
  .product-card .image-container {
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
  }
  
  .product-card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover .image-container img {
    transform: scale(1.1);
  }
  
  .product-card .offer-badge {
    position: absolute;
    top: -10px; /* Ajusta este valor para que la etiqueta salga por encima de la tarjeta */
    left: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #dc3545; /* Color rojo */
    color: #fff;
  }
  
  .product-card .offer-badge i {
    margin-right: 5px;
  }
  
  .product-card .card-title {
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
  
  .product-card .card-text {
    font-size: 0.9em;
    margin-bottom: 1em;
  }
  
  .product-card .price {
    font-size: 1.2em;
  }
  
  .modal-content {
    border-radius: 15px;
  }
  
  .modal-header, .modal-footer {
    border: none;
  }
  
  .modal-footer .btn {
    border-radius: 50px;
  }
  
  @media (max-width: 576px) {
    .product-card .image-container {
      height: 150px;
    }
  }
  
  /* Estilos para el botón "Más información" */
  .product-card .btn-outline-danger {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .product-card .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
  }
  
  /* Estilos para el botón "Comprar" */
  .product-card .btn-danger {
    transition: background-color 0.3s;
  }
  
  .product-card .btn-danger:hover {
    background-color: #c82333;
  }
  
  /* Animaciones adicionales */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Footer */
  footer {
    margin-top: 40px;
  }
  
  /* Map Responsive */
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  /* Estilos para el botón de contacto fijo */
  .contact-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e9ecef;
    color: #000;
    padding: 10px 15px;
    border: 2px solid #000;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
  }
  
  .contact-button i {
    margin-right: 8px;
    font-size: 1.5em;
  }
  
  .contact-button:hover {
    background-color: #ff0000;
    color: #fff;
    border-color: #d10f0f;
  }
  
/* Estilos para el formulario de contacto */
#contact-form .form-label {
  font-weight: bold;
}

#contact-form .form-control {
  border-radius: 5px;
}

#contact-form button[type="submit"] {
  border-radius: 50px;
  padding: 10px 20px;
}

.alert {
  border-radius: 5px;
}

.whatsapp-number {
  display: inline-flex;
  align-items: center;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  background-color: #ff0000;
  padding: 10px 15px;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.whatsapp-number i {
  margin-right: 8px;
}

.whatsapp-number:hover {
  background-color: #ad0505;
  color: #fff;
}

@media (max-width: 576px) {
  .map-responsive iframe {
    height: 200px;
  }
}